<h2>Task List</h2>
<table>
    <thead>
        <tr>
            <th>Task Name</th>
            <th>Username</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {{#each tasks}}
        <tr>
            <td>{{this.task_name}}</td>
            <td>{{this.username}}</td>
            <td>{{this.status}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
